body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.btn {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    background-color: #1d3557;
    color: #f1faee;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.445);
    border-radius: 50px

}

.btn:hover {
    background-color: #003049;
    color: #eae2b7;
    box-shadow: 0rem 2rem -1rem rgba(0, 0, 0, 0.445);
}

.btn_text {
    margin-left: 0.8rem;
}

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border: 3px solid #09aa74;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0);
    }
    50% {
        transform:rotate(180);
        border-top-color: #80ffbd;
        border-bottom-color: #80ffbd;
        border-right-color: transparent;
        border-left-color: transparent;
        }
    100% {
        transform: rotate(360deg);
    }
}